/* Header */

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.header-img-list {
    height: 35vh;
}
.img-list-el {
    height: 130px;
    width: 75px;
    background-size: cover;
    background-position: center;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: all .5s linear;
}
.img-list-el:nth-of-type(1) {
    background-image: url("../img/Norella/norella-mobile.png");
    transform: translate3d(50%, -5%, 0) rotate(-20deg);
}
.img-list-el:nth-of-type(2) {
    height: 100px;
    width: 160px;
    background-image: url("../img/Gibbet/Gibbet-laptop.png");
    transform: translate3d(130%, -90%, 0) rotate(-5deg) scale(.8);
}
.img-list-el:nth-of-type(3) {
    background-image: url("../img/Prosta/Prosta-main-page.png");
    transform: translate3d(300%, -40%, 0) rotate(15deg) scale(.9);
    height: 130px;
    width: 75px;
}
.heading {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    letter-spacing: 2px;
    color: var(--primary-color);
}
.sub-heading {
    padding: 0 1rem;
    margin-bottom: 3rem;
    line-height: 1.2rem;
    font-size: .8rem;
    letter-spacing: 1px;
}
.text-highlighted {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
}

.header-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}
.header-row .btn:nth-of-type(1) {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.header-row .btn:nth-of-type(2) {
    margin-left: 1.5rem;
}