:root {
    --primary-color: rgba(182, 79, 250, .7);
    --primary-color-less-visible: rgba(182, 79, 250, .2);
    --transparent-bg: rgba(255,255,255, .8);
    --half-page-min-height: calc(100vh - 40px - 50px); /* { body-padding-y: 40px } { half-page-padding-top: 50px } */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline-color: red;
}
ul {
    list-style: none;
}
body {
    min-height: 100vh;
    min-width: 350px;
    padding: 60px 20px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: #333;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
}

/* 
 * Header
*/
.header {
    position: relative;
    text-align: center;
    background-color: var(--transparent-bg);
    border-radius: 20px;
}
.image-wrap {
    padding: 20px 20px 0 20px;
}
.image {
    width: 50%;
    border-radius: 100%;
}
.name {
    font-size: 1.7em;
    padding: 10px;
}
.subtitle {
    display: inline-block;
    color: #222;
    line-height: 1.1em;
    background-color: var(--primary-color-less-visible);
    padding: 8px 10px;
    border-radius: 10px;
}
.social-wrap {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 40px;
}
.social-wrap  a {
    color: #333;
}
.header-list-wrapp {
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 90%;
    justify-content: space-around;
    background-color: var(--primary-color-less-visible);
    border-radius: 20px;
    display: none;
}
.header-list-el {
    font-size: .9em;
    padding: 5px;
}
/* 
 * Navigation
*/
.nav-list {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
    position: relative;
    padding: 10px 25px 0 25px;
    margin-top: 70px;
}
.prevent-click::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.nav-link {
    background-clip: padding-box;
    display: -webkit-inline-box;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--primary-color);
    border: 5px solid transparent;
    border-radius: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.link-active {
    background-clip: padding-box;
    background-color: var(--transparent-bg);
    border-color: var(--transparent-bg);
    color: #333;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*
 * Toggle navigation
*/
.active.section {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

/* 
 * container
*/
.container {
    position: relative;
    overflow-y: hidden;
}

/*
* section
*/
.section  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 25px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    background-color: var(--transparent-bg);
    opacity: 0;
    padding: 20px;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.title-section {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.8em;
}
.subtitle-section {
    text-align: center;
    font-size: 1em;
    line-height: 1em;
    padding-bottom: 20px;
}

/*
 * Projects
*/
.single-project {
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 0 5px 0 var(--primary-color);
    background-color: #fff;
}
.title-project {
    padding: 5px 0;
}
.desc-project {
    padding: 5px;
}
.img-project {
    width: 95%;
}
.link-list-project {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5px 0;
    list-style: none;
}
.link-list-project a {
    text-decoration: none;
}

/*
* About
*/
.flex-list {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-list-item {
    font-size: 1.1em;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--primary-color-less-visible);
    font-weight: bold;
}
.list-el {
    margin: 15px 0;
}
/* 
 * Contact
*/
.info-form {
    font-size: .9em;
}
.warning {
    color: red;
}
.form-input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    padding: 10px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border: 1px solid transparent;
    box-shadow: inset 0 0 2px 1px var(--primary-color);
}
.form-input:focus {
    outline: 0;
    box-shadow: inset 0 0 2px 0 var(--primary-color), 0 0 0 2px var(--primary-color);
}
textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
}
.form-input:not(textarea) {
    color: green;

}
.input-error.form-input:not(textarea) {
    color: red;
}
.error-hidden {
    font-size: .8em;
    color: red;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.error {
    opacity: 1;
}
.btn-submit {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.btn-submit:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--primary-color);
}
.confirmation,
.form-error,
.spinner,
.spinner::after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.spinner {
    height: 70px;
    width: 70px;
    line-height: 70px;
}
.spinner::after {
    content: '';
    height: 100%;
    width: 100%;
    border: 3px solid var(--transparent-bg);
    border-top-color: #333;
    border-bottom-color: #333;
    border-radius: 50%;
    -webkit-animation: spin .8s ease-in-out infinite;
            animation: spin .8s ease-in-out infinite;
}
.hidden {
    display: none;
}
.confirmation {
    color: green;
}
.fa-check-circle {
    display: block;
    font-size: 4em;
    color: green;
}
.form-error {
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    background-color: red;
    padding: 5px 10px;
    border-radius: 20px;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0);
                transform: translate(-50%, -50%) rotate(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0);
                transform: translate(-50%, -50%) rotate(0);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
                transform: translate(-50%, -50%) rotate(360deg);
    }
}


@media screen and (min-width: 500px) {
    .header,
    .nav-wrapp,
    .container {
        width: 400px;
        margin: auto;
    }
}
@media screen and (min-width: 1000px) {
    body {
        display: -webkit-box;
        display: flex;
        justify-content: space-around;
        background-attachment: fixed;
        padding: 10px;
    }
    .half-page:nth-of-type(1) {
        flex-basis: 25%;
        padding-top: 50px;
        font-size: 80%;
    }
    .half-page:nth-of-type(2) {
        flex-basis: 75%;
        margin-left: 20px;
    }
    .header {
        position: fixed;
        left: 20px;
        width: calc(25% - 20px);
        height: var(--half-page-min-height);
    }
    .social-wrap {
        padding: 40px 60px;
    }
    .header-list-wrapp {
        display: block;
    }
    .container,
    .nav-wrapp {
        width: auto;
    }
    .section {
        min-height: var(--half-page-min-height);
        padding: 20px;
    }
    .subtitle-section {
        padding: 0 60px 40px 60px;
    }
    .projects-wrapp {
        display: -webkit-box;
        display: flex;
    }
    .single-project {
        margin: 0 20px;
    }
    .nav-list {
        -webkit-box-pack: end;
                justify-content: flex-end;
        margin: 0;
    }
    .form-wrapp {
        width: 75%;
        margin: auto;
    }
    .btn-submit:hover {
        background-color: var(--primary-color);
        color: #333;
    }
    
}