* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
body {
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    padding: 70px 30px;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background {
    background-color: rgba(255,255,255, .8);
    border-radius: 25px;
}

/* 
 * Header
*/
.header {
    text-align: center;
    margin-bottom: 70px;
    background-color: rgba(255,255,255, .8);
}
.image-wrap {
    padding: 20px 20px 0 20px;
}
.image {
    width: 50%;
    border-radius: 100%;
}
.name {
    font-size: 1.7em;
    padding: 10px;
}
.subtitle {
    display: inline-block;
    color: #222;
    line-height: 1.1em;
    background-color: rgb(183, 166, 235);
    padding: 8px 10px;
    border-radius: 10px;
}
.social-wrap {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    padding: 40px 40px 20px 40px;
}
.social-wrap  a {
    color: #333;
}
/* 
 * Navigation
*/

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 10px 25px 0 25px;
}
.prevent-click::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.nav-link {
    background-clip: padding-box;
    display: inline-flex;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(183, 166, 235);
    border: 5px solid transparent;
    border-radius: 10px;
    transition: all .5s ease;
}
.link-active {
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, .8);
    border-color: rgba(255, 255, 255, .8);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* 
 * Main
*/
.main-wrapp {
    position: relative;
    overflow-y: hidden;
}
.section  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 25px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all .5s ease;
}
/*
 * Projects
*/
.sentence-projects {
    font-size: 1.2em;
    text-align: center;
    padding: 30px 10px 0 10px;
}
.list-projects {
 text-align: center;
}
.single-project {
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(183, 166, 235);
    background-color: #fff;
    margin: 40px 15px;
}
.title-project {
    padding: 5px 0;
}
.desc-project {
    padding: 5px;
}
.img-project {
    width: 100%;
}
.link-list-project {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0;
    list-style: none;
}
.link-list-project a {
    text-decoration: none;
}

/* Navigation animates */
.active.section {
    transform: translateY(0);
    opacity: 1;
}