/* Media queries */

/* tablet */
@media screen and (min-width: 760px) {
    .header-img-list {
        height: 50vh;
    }
    .img-list-el {
        height: 360px;
        width: 280px;
    }
    .img-list-el:nth-of-type(1) {
        transform: translate3d(20%, -10%, 0) rotate(-20deg);
    }
    .img-list-el:nth-of-type(2) {
        height: 200px;
        width: 300px;
        transform: translate3d(130%, -130%, 0) rotate(-5deg) scale(1.2);
    }
    .img-list-el:nth-of-type(3) {
        height: 360px;
        width: 280px;
        transform: translate3d(150%, -70%, 0) rotate(15deg) scale(.9);
    }
    .sub-heading {
        width: 65%;
    }
    .article .row {
        width: 70%;
        margin: auto;
    }
    .modal .desc {
        padding: .3rem 3rem;
        line-height: 1.3rem;
    }
    .links-row {
        margin: 2rem 0;
    }
    .skills .row {
        padding: 2rem;
    }
    .skills .title-md {
        width: 80%;
        margin: auto;
    }
    .form {
        width: 75%;
    }
}

/* laptop */
@media screen and (min-width: 1000px) {
    .desktop-hidden {
        display: none;
    }
    .mobile-hidden {
        display: block;
    }
    /* Navigation */
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1rem;
    }
    .nav-drop {
        position: relative;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        padding: 0;
        color: var(--primary-color);
        background: none;
    }
    .nav-list {
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .nav-link {
        padding: .5rem 1rem;
        margin-left: 1rem;
        border-radius: 20px;
        background-color: #fff;
        font-weight: 700;
    }
    .nav-link:hover {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    /* Header */
    .header {
        min-height: 100vh;
        padding: 0 2rem;
    }
    .header-img-list {
        height: 40vh;
    }
    .img-list-el {
        height: 300px;
        width: 460px;
    }
    .img-list-el:nth-of-type(1) {
        transform: translate3d(50%, -15%, 0) rotate(-10deg) scale(.8);
    }
    .img-list-el:nth-of-type(2) {
        height: 300px;
        width: 460px;
        transform: translate3d(170%, -100%, 0) rotate(5deg) scale(1);
    }
    .img-list-el:nth-of-type(3) {
        transform: translate3d(240%, -80%, 0) rotate(-15deg) scale(.9);
    }
    .heading {
        font-size: 3rem;
    }
    .sub-heading {
        width: 50%;
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .text-highlighted {
        font-size: 2rem;
    }
    .header-row {
        align-items: flex-start;
        padding: 0 1rem;
    }
    .header-row .btn:nth-of-type(1) {
        font-size: 1.2rem;
    }

    /* Main */
    .article {
        background-color: var(--primary-color);
        padding: 0 .2rem;
    }
    .main-img {
        border-radius: 20px;
    }
    .content-wrap {
        text-align: left;
        overflow-x: hidden;

    }
    .top-row {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    .half {
        padding: 2rem;
    }
    .half:first-of-type {
        flex-basis: 80%;
    }
    .half:last-of-type {
        align-self: flex-end;
        padding: 0;
        margin-right: 2rem;
    }
    .half:last-of-type img {
        transition: transform .3s ease-in-out;
    }
    .half:last-of-type img:hover {
        transform: scale(1.2);
    }
    .title {
        padding-left: 1rem;
    }
    .article .row {
        width: 100%;
        justify-content: flex-start;
    }
    .link-icon {
        height: auto;
        width: auto;
        background: none;
        font-size: 1rem;
        border-radius: 20px;
        padding: 0 1rem;
        margin: 0 1rem;
        transition: all .3s ease-in-out;
    }
    .link-icon:hover {
        background-color: #fff;
        transform: scale(.9);
    }
    .link-icon span {
        display: inline-block;
    }
    .link-icon:nth-of-type(1) {
        color: var(--text-light);
    }
    .link-icon:nth-of-type(1):hover {
        color: var(--primary-color);
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        padding: 2rem;
    }
    .flex-el {
        flex-basis: 100px;
        transition: transform .3s ease-in-out;
    }
    .flex-el:hover {
        transform: scale(1.5);
    }

    /* Skills */
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .skills .title-md {
        flex-basis: 60%;
        letter-spacing: 1px;
        padding: 3rem 0 0;
    }
    .skills .title-lg {
        color: var(--primary-color);
    }
    .skills .row {
        flex-basis: calc(50% - 4rem);
        padding: 1rem;
        margin: 2rem;
        background-color: #fff;
        color: var(--text-dark);
        border-radius: 20px;
        transform: scale(.95);
        transition: transform .2s ease-in-out;
    }
    .skills .row:hover {
        transform: scale(1);
        box-shadow: 0 0 5px 0 var(--primary-color);
    }
    .skills .row:last-of-type {
        flex-basis: 75%;
        text-align: center;
    }
    .skill-el {
        line-height: 1.5rem;
    }

    /* Contact */
    .contact {
        text-align: center;
    }
    .form {
        width: 50%;
        margin-bottom: 2rem;
    }
    .form-error {
        text-align: left;
        padding-left: .5rem;
    }
    .contact .btn {
        margin: 0 5rem;
    }

    /* Footer */
    .footer {
        position: relative;
        z-index: 1;
        background-color: #fff;
    }
}

/* desktop */
@media screen and (min-width: 1500px) {

}